# cyclone configuration file
#
# cyclone application settings
cyclone: {
    alarming.destination: 'http://localhost:80/alarms'
    api.version: '1.0'
    lookup.host: 'localhost'
    lookup.path: 'api/v1/configuration'
    lookup.port: '7777'
    metrics.max.age.minutes: '120'
    testmode: 'false'
    handler.queue.length: '5'
}

# kafka settings
kafka: {
    consumer.group.name: 'cyclone'
    consumer.topics: 'metrics'
    keepalive.ms: '500'
}

# log settings
log: {
    debug: 'false'
    file: 'cyclone.log'
    path: '/srv/cyclone/de_kae_bs/log'
    rotate.on.usr2: 'true'
}

# misc settings
misc: {
    produce.metrics: 'true'
}

# redis settings
redis: {
    connect: 'localhost:6379'
    db: '0'
    password: 'sikrit'
}

# zookeeper settings
zookeeper: {
    commit.ms: '1000'
    connect: 'localhost:2181/kafka'
    reset.offset.on.startup: 'false'
}
