# cyclone configuration file
#
# cyclone application settings
cyclone: {
    alarming.destination: 'http://localhost:80/alarms'
    api.version: '1.0'
    metrics.max.age.minutes: '120'
    testmode: 'false'
    handler.queue.length: '16'
    post.request.concurrency.limit: '256'
    discard.metrics: [
	    '/sys/disk/fs',
	    '/sys/disk/mounts',
	    '/sys/net/mac',
	    '/sys/net/rx_bytes',
	    '/sys/net/rx_packets',
	    '/sys/net/tx_bytes',
	    '/sys/net/tx_packets',
	    '/sys/memory/swapcached',
	    '/sys/load/last_pid',
	    '/sys/cpu/idletime',
	    '/sys/cpu/MHz',
	    '/sys/net/bondslave',
	    '/sys/net/connstates/ipv4',
	    '/sys/net/connstates/ipv6',
	    '/sys/net/duplex',
	    '/sys/net/ipv4_addr',
	    '/sys/net/ipv6_addr',
	    '/sys/net/speed',
	    '/sys/net/ipvs/conn/count',
	    '/sys/net/ipvs/conn/servercount',
	    '/sys/net/ipvs/conn/serverstatecount',
	    '/sys/net/ipvs/conn/statecount',
	    '/sys/net/ipvs/conn/vipconns',
	    '/sys/net/ipvs/conn/vipstatecount',
	    '/sys/net/ipvs/count',
	    '/sys/net/ipvs/detail',
	    '/sys/net/ipvs/state',
	    '/sys/net/quagga/bgp/announce',
	    '/sys/net/quagga/bgp/connage',
	    '/sys/net/quagga/bgp/connstate',
	    '/sys/net/quagga/bgp/neighbour',
    ]
}

# kafka settings
kafka: {
    consumer.group.name: 'cyclone'
    consumer.topics: 'metrics'
    keepalive.ms: '500'
}

# log settings
log: {
    debug: 'false'
    file: 'cyclone.log'
    path: '/srv/cyclone/de_kae_bs/log'
    rotate.on.usr2: 'true'
}

# misc settings
misc: {
    produce.metrics: 'true'
}

# redis settings
redis: {
    # redis server address
    connect: 'localhost:6379'
    # redis database to store records in
    db: '0'
    # redis connect password
    password: 'sikrit'
    # expire time for cache records
    cache.timeout.seconds: 1800
}

# profile server settings
eyewall: {
    host: 'localhost'
    port: '7777'
    path: 'api/v1/configuration'
}

# zookeeper settings
zookeeper: {
    commit.ms: '1000'
    connect: 'localhost:2181/kafka'
    reset.offset.on.startup: 'false'
}
